<a href="https://colab.research.google.com/github/Surya-0007/Basic-Level-Python-Assignment/blob/main/BasicLevelPythonAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. L is a list defined as L= [11, 12, 13, 14].**

(i) WAP to add 50 and 60 to L.

In [ ]:
L = [11, 12, 13, 14];
L.append(50);
L.append(60);
print("After Adding 50 and 60--->",  L);

After Adding 50 and 60---> [11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13 from L.

In [ ]:
L = [11, 12, 13, 14, 50, 60];
L.remove(11);
L.remove(13);
print("After Deleting--->", L);

After Deleting---> [12, 14, 50, 60]

(iii) WAP to sort L in ascending order

In [ ]:
L.sort()
print("After Soring in ascendind order--->", L);

After Soring in ascendind order---> [12, 13, 50, 60]

(iv) WAP to sort L in descending order.

In [ ]:
L.sort(reverse = True)
print("After Soring in descending order--->", L);

After Soring in descending order---> [60, 50, 13, 12]

(v) WAP to search for 13 in L.

In [ ]:
if (13 in L):
 print("Present");
else:
 print("Absent");

Present

(vi) WAP to count the number of elements present in L.

In [ ]:
print("No. of elements in L--->", len(L)); #It is the new L after adding 50 and 60 and deleting 11

No. of elements in L---> 4

(vii) WAP to sum all the elements in L.

In [ ]:
print("Sum is--->", sum(L));

Sum is---> 136

(viii) WAP to sum all ODD numbers in L.

In [ ]:
L = [12, 13, 50, 60];
sum = 0;
for i in range(4):
    if (L[i])%2 == 1:
        sum += L[i];
print(sum);

13

(ix) WAP to sum all EVEN numbers in L.

In [ ]:
L = [12, 13, 50, 60];
sum = 0;
for i in range(4):
    if (L[i])%2 == 0:
        sum += L[i];
print(sum);

122

(x) WAP to sum all PRIME numbers in L.

In [10]:
L = [12, 13, 50, 60];
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_prime_numbers(lst):
    prime_sum = 0
    for num in lst:
      if is_prime(num):
            prime_sum += num
    return prime_sum

L = [12, 13, 50, 60]
sum_of_primes = sum_prime_numbers(L)
print(sum_of_primes)

13

(xi) WAP to clear all the elements in L.

In [11]:
L = [12, 13, 50, 60]

L.clear();

print(L);

[]

(xii) WAP to delete L.

In [14]:
L = [12, 13, 50, 60]
del(L);
#pritn(L)

**Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.**

(i) WAP to add new entry in D; key=8 and value is 8.8

In [15]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8] = 8.8
print(D);

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2

In [16]:
del(D[2]);
print(D);

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(iii) WAP to check weather 6 key is present in D.

In [35]:
if 6 in D:
  print("Present");
else:
  print("Absent");

Absent

(iv) WAP to count the number of elements present in D.

In [36]:
print(len(D));

5

(v) WAP to add all the values present D.

In [40]:
print(sum(D)); #Sum of Keys

21

In [39]:
print(sum(D.values())); # Sum of Values

37.4

(vi) WAP to update the value of 3 to 7.1.

In [41]:
D[3] = 7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

(vii) WAP to clear the dictionary.

In [44]:
D.clear();
print(D);

{}

**Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].**

 **S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].**

(i) WAP to add 55 and 66 in Set S1.

---

In [52]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

S1.add(55)
S1.add(66)

print(S1)

{66, 40, 10, 50, 20, 55, 60, 30}

(ii) WAP to remove 10 and 30 from Set S1.

In [54]:
S1.remove(10)
S1.remove(30)
print(S1)

{66, 40, 50, 20, 55, 60}

(iii) WAP to check whether 40 is present in S1.

In [59]:
if 40 in S1:
  print("Present");
else:
  print("Absent");

Present

(iv) WAP to find the union between S1 and S2.

In [61]:
print(S1.union(S2));

{66, 70, 40, 80, 50, 20, 55, 90, 60}

(v) WAP to find the intersection between S1 and S2.

In [62]:
print(S1.intersection(S2));

{40, 50, 60}

(vi) WAP to find the S1 - S2.

In [63]:
print(S1.difference(S2)); # Also we can use a - b

{66, 20, 55}

**Q4. Write the following program.**

(i) WAP to print 100 random strings whose length between 6 and 8.

In [2]:
import random
import string

def generate_random_string(min_length, max_length):
    length = random.randint(min_length, max_length)
    letters = string.ascii_lowercase
    return ''.join(random.choice(letters) for _ in range(length))

# Generate and print 100 random strings
for _ in range(100):
    random_string = generate_random_string(6, 8)
    print(random_string)

huknkei
cwbpyfcj
jaklby
tvkezp
whptglea
csvtmfq
gpzflx
qfdzgt
dwjozjh
texfxc
sqgqeb
ucwwsj
agfmlhuj
qxlkpc
nqezcy
nywsrtwo
pocfzdj
rzhmkjw
xtvbrjb
sagzhknb
vyyhzhdl
tsydsd
hqojyyqo
ujevcmav
dqpbhjyt
zogcvuqe
mbawjul
ecclseq
parfwd
kgdtphc
utxpfwlg
omtamh
ealzbmme
zvmksf
azbifex
rpvmmu
jevnnztu
jrsfngz
xpzfmswd
wopmpgei
lifnkpa
bgafwmi
dgcdyacs
excwuymp
avwndc
ogmnneh
qvkhtl
oorkwl
utiyox
tkyaclp
sorxrh
avuleyug
hyfpetsn
vwkuhtgp
bvzsvfy
jljbqywl
dvzwfvll
ljepzr
mamijcgj
rvdfvkl
wuxwtb
rrqlrl
jrgtdrwu
pkuafvx
vwgslg
lecgepze
uvvvrvq
ppznvk
cylehnl
dmzgvf
zdtlfpx
vnboaxq
kbtitsy
azmyqe
owrliu
fadiglio
fejmkb
zmrclaq
fgsrsj
xmmtexw
sqdihzu
ofgnjpa
ipanpgd
dxwwex
hkigbn
adfkfqvm
llwltze
egagveer
sowige
ykldqaf
ehszgjxl
dszmbg
wixvuz
vycvzwor
jouwcbzh
htngfsk
cbdaxkz
wdqvuvd
qxifurh
expuju

(ii) WAP to print all prime numbers between 600 and 800.

In [88]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start_range = 600
end_range = 800

print("Prime numbers between 600 and 800:")
for num in range(start_range, end_range + 1):
    if is_prime(num):
        print(num)

Prime numbers between 600 and 800:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [22]:
def isDivisible(num):
  if (num)%(7) == 0 and (num)%(9) == 0:
    return True
  else:
    return False
start_num = 100;
end_num = 1000;
for i in range(start_num, end_num + 1):
  if isDivisible(i):
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

**Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find**

(i) Common numbers in the two lists

In [26]:
import random as r

def generate_random_numbers():
    return [r.randint(10, 30) for _ in range(10)]

list1 = generate_random_numbers()
list2 = generate_random_numbers()

print("List 1:", list1)
print("List 2:", list2)

common_num = set(list1) & set(list2);

list(common_num)

List 1: [18, 15, 27, 28, 11, 23, 17, 25, 10, 10]
List 2: [25, 23, 29, 13, 10, 27, 30, 20, 23, 11]

[10, 11, 23, 25, 27]

(ii) Unique numbers in both the list

In [30]:
print("Unique numbers in list1", set(list1) - set(common_num));
print("Unique numbers in list2", set(list2) - set(common_num));

Unique numbers in list1 {17, 18, 28, 15}
Unique numbers in list2 {29, 20, 13, 30}

(iii) Minimum in both the list

In [32]:
print("Minimum number in the list1", min(list1))
print("Minimum number in the list2", min(list2))

Minimum number in the list1 10
Minimum number in the list2 10

(iv) Maximum in both the list

In [33]:
print("Maximum number in the list1", max(list1))
print("Maximum number in the list2", max(list2))

Maximum number in the list1 28
Maximum number in the list2 30

(v) Sum of both the lists

In [36]:
print("Sum number in the list1", sum(list1))
print("Sum number in the list2", sum(list2))

Sum number in the list1 184
Sum number in the list2 211

**Q6. WAP to create a list of 100 random numbers between 100 and 900.**
**Count and print**

(i) All odd numbers

In [40]:
import random as r
def generate_random_numbers():
    return [r.randint(100, 900) for _ in range(100)]
list = generate_random_numbers()
list

[592,
 245,
 491,
 393,
 547,
 492,
 392,
 647,
 761,
 236,
 892,
 709,
 894,
 768,
 415,
 822,
 790,
 589,
 871,
 486,
 789,
 172,
 885,
 356,
 833,
 216,
 734,
 561,
 633,
 822,
 486,
 434,
 459,
 594,
 669,
 385,
 706,
 385,
 350,
 121,
 726,
 629,
 808,
 348,
 435,
 624,
 826,
 299,
 805,
 216,
 148,
 760,
 423,
 702,
 458,
 621,
 248,
 869,
 292,
 827,
 186,
 364,
 372,
 250,
 150,
 899,
 225,
 666,
 454,
 653,
 845,
 522,
 552,
 462,
 519,
 709,
 188,
 445,
 755,
 333,
 222,
 346,
 379,
 804,
 318,
 865,
 483,
 122,
 316,
 545,
 594,
 214,
 610,
 234,
 259,
 413,
 106,
 513,
 595,
 420]

In [41]:
for i in list:
  if i%2 != 0:
    print(i);

245
491
393
547
647
761
709
415
589
871
789
885
833
561
633
459
669
385
385
121
629
435
299
805
423
621
869
827
899
225
653
845
519
709
445
755
333
379
865
483
545
259
413
513
595

(ii) All even numbers

In [42]:
for i in list:
  if i%2 == 0:
    print(i);

592
492
392
236
892
894
768
822
790
486
172
356
216
734
822
486
434
594
706
350
726
808
348
624
826
216
148
760
702
458
248
292
186
364
372
250
150
666
454
522
552
462
188
222
346
804
318
122
316
594
214
610
234
106
420

(iii) All prime numbers

In [71]:
import random as r
def generate_random_numbers():
    return [r.randint(100, 900) for _ in range(100)]
list = generate_random_numbers()
def isPrime(num):
    if num <= 1:
      return False
    for x in range(2, int(num**0.5) + 1):
        if (num)%(x) == 0:
          return False

    return True

prime_numbers = [num for num in list if isPrime(num)]

prime_numbers

[233, 233, 277, 101, 197, 647, 509, 839, 727, 151, 241]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.

Key1, Value1

Key2, Value2

Key3, Value3

In [77]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}

with open("output.txt", "w") as file:
    for key, value in D.items():
        file.write(f"{key}, {value}\n")

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:

One, 3

Two, 3

Four, 4

In [80]:
L={"One","Two","Three","Four","Five"}

with open("output.txt", "w") as file:
    for chr in L:
        file.write(f"{chr}, {len(chr)}\n")

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [83]:
import random
import string

def generate_random_string(min_length, max_length):
    length = random.randint(min_length, max_length)
    letters = string.ascii_lowercase
    return ''.join(random.choice(letters) for _ in range(length))

with open("output.txt", "w") as file:
    for _ in range(100):
        random_string = generate_random_string(10, 15)
        file.write(random_string + "\n")

Q10. Write to the file all prime numbers between 600 and 800.

In [92]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start_range = 600
end_range = 800
with open("output.txt", "w") as file:
  for num in range(start_range, end_range + 1):
      if is_prime(num):
        file.write(str(num) + "\n")

Q11. WAP to calculate the time taken by a program

In [100]:
import time

# Function to calculate the sum of numbers from 1 to n
def sum_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

start_time = time.time()

result = sum_numbers(1000000)

end_time = time.time()

elapsed_time = end_time - start_time

print("Result:", result)
print("Time taken:", elapsed_time, "seconds")

Result: 500000500000
Time taken: 0.07697558403015137 seconds

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.

Number of elements in list        Time Taken

      5k                            T1

      10k                           T2

      15k                           T3

      20k                           T4

      25k                           T5

**The code for this question is in other Repository**
**named "Comparison of time taken for sorting list "**

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average marks.

In [102]:
def calculate_average(marks):
    return sum(marks) / len(marks)

student_marks = {
    "Aryan": [90, 85, 78, 92, 88],
    "Bhavish": [78, 82, 80, 70, 85],
    "Chandan": [95, 88, 92, 85, 90],
    "Dev": [85, 75, 80, 90, 78],
    "Emaira": [92, 90, 87, 88, 95]
}

# Calculating the average marks for each student
average_marks = {name: calculate_average(marks) for name, marks in student_marks.items()}

max_student = max(average_marks, key=average_marks.get)
min_student = min(average_marks, key=average_marks.get)

print("Student with Maximum Average Marks:")
print(f"{max_student}: {average_marks[max_student]}")

print("\nStudent with Minimum Average Marks:")
print(f"{min_student}: {average_marks[min_student]}")

Student with Maximum Average Marks:
Emaira: 90.4

Student with Minimum Average Marks:
Bhavish: 79.0